section.about-section
  .wrapper
    .about-section__container
      img.about-section__logo(src="images/about-section-logo.png" loading="lazy" width="268" height="94" alt="logo")
      h2.about-section__title.font-w-c-bold.font-s-45.text-up
        | За 20 лет работы защитили от ржавчины 
        br
        span.color-yellow более 10 000 автомобилей
      .about-section__block.font-s-18
        span.font-w-bold
          | Компания «GUTWERT» была основана в 2005 году в Тюмени в качестве 
          br.no-br
          | официального дилера Hyundai, KIA и АвтоВАЗ. В дальнейшем мы 
          br.no-br
          | открыли собственный Центр борьбы со ржавчиной, сосредоточившись 
          br.no-br
          | на востребованных услугах антикоррозийной обработки авто.
        br.no-br
        | Мы первыми в России применили технологию аквабластинга, которая 
        br.no-br
        | позволяет удалять коррозию любой сложности и защищать автомобиль на 
        br.no-br
        | весь срок эксплуатации.
      .about-section__block.font-s-18.about-section__block--secondary
        | Сегодня рынок антикоррозийной обработки растет в геометрической 
        br.no-br
        | прогрессии, автовладельцы стремятся провести профилактику для новых 
        br.no-br
        | автомобилей, чтобы продлить срок их беспроблемной эксплуатации. В 
        br.no-br
        | особенности это касается массово поступающих на рынок китайских авто. 
        br.no-br
        | Кроме того, услуга актуальна и для владельцев подержанных авто западного 
        br.no-br
        | производства, которые хотят сохранить их в хорошем состоянии в условиях 
        br.no-br
        | дефицита.
      .about-section__bottom-wrapper
        .about-section__bottom
          img.about-section__img(src="images/about-section-img.jpg" loading="lazy" width="298" height="364" alt="image")
          .font-w-bold.font-s-18
            | Запуская собственный антикорцентр по франшизе «GUTWERT», вы 
            br.no-br
            | получаете готовый и прибыльный бизнес, который будет расти и 
            br.no-br
            | развиваться практически в любом российском городе и регионе. 
            br.no-br
            | Наша команда поможет вам выстроить все процессы с нуля и 
            br.no-br
            | поддержит на всех этапах совместной работы.
