footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo-secondary.png" loading="lazy" width="211" height="96" alt="logo")
        .footer__brand
          .font-w-c-bold.font-s-16-a.text-up GutWert
          .font-s-13-a Франшиза антикорцентра
      a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy политика конфиденциальности
      .footer__connection
        a(href="tel:+79999999999")
          img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="33" height="33" alt="icon")
        include ../components/phone-number.pug
