section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="466" height="351" alt="image")
      h2.steps-section__title.font-w-c-bold.font-s-45.text-up
        span.color-yellow Откройте 
        | собственный бизнес за 49 дней
      .steps-section__sub-title.font-s-20 — Команда GutWert поддержит вас на всех этапах:
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 1
              span.font-s-10 /10
            .font-s-18-b Заключение договора <br> франшизы
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 2
              span.font-s-10 /10
            .font-s-18-b Поиск помещения и <br> заключение договора <br> аренды
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 3
              span.font-s-10 /10
            .font-s-18-b Согласование <br> дизайн-проекта
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 4
              span.font-s-10 /10
            .font-s-18-b Ремонт и оформление <br> помещения
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 5
              span.font-s-10 /10
            .font-s-18-b Поиск персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 6
              span.font-s-10 /10
            .font-s-18-b Доставка и монтаж <br> оборудования
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 7
              span.font-s-10 /10
            .font-s-18-b Формирование первичных <br> запасов товара и расходных <br> материалов
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 8
              span.font-s-10 /10
            .font-s-18-b Запуск рекламных <br> кампаний
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 9
              span.font-s-10 /10
            .font-s-18-b Обучение персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="122" height="32" alt="icon")
            .steps-section__card-title.font-w-bold
              span.font-s-16-b Этап 10
              span.font-s-10 /10
            .font-w-bold.font-s-18-b Официальное открытие
        .bullet-pagination
      .steps-section__bottom
        .steps-section__bottom-title.font-w-c-bold.font-s-26-b.text-up
          | Работаем строго 
          span.color-yellow по договору,
        .steps-section__bottom-text.font-s-18-b
          | в котором описаны наши обязанности 
          br
          | и все условия сотрудничества
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") СКАЧАТЬ ПРИМЕР ДОГОВОРА
